/* Custom Stylesheet */
body
{
    font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, 'XinGothic-W4S', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;

    color: #424242;
    background-color: #fdfdfd;
}
.fixed-top
{
    font-family: 'Roboto','黑体';

    position: fixed;
    z-index: 9999;
    top: 0;
}
#side-logo
{
    font-size: 16px;
    line-height: 39px;

    height: 200px;
    padding: 16px;
    padding-left: 80px;

    border-bottom: thin solid #e0e0e0;
    background-image: url(../img/LOGO.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 40%;
}
.readmore-align
{
    text-align: left;
}
.readmore
{
    text-decoration: underline;

    color: #424242;
}
.readmore:hover
{
    -webkit-transition: color ease .3s;
       -moz-transition: color ease .3s;
         -o-transition: color ease .3s;
            transition: color ease .3s;

    color: #ef5350;
}
#index-banner
{
    background-color: #343434;
    background-image: url(http://i3.tietuku.com/87e857e1f8864a1b.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
}
#index-banner h5
{
    margin-bottom: 20px;
}
#side-banner
{
    background-color: #343434;
    background-image: url(http://i3.tietuku.com/87e857e1f8864a1b.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
}
.power-by li
{
    display: inline;

    margin: 0 1rem 0 0;
}
.power-by li a:hover
{
    text-decoration: underline;
}
.clear
{
    clear: both;
}
.postinfo
{
    display: block;

    width: 100%;
    margin: -.5rem 0 3rem 0;
}
.postinfo li
{
    display: inline;

    margin: 0 .5rem 0 0;
    padding: 0;
}
.nbsp-1:after
{
    content: '';
}
.nbsp-2:after
{
    content: '  ';
}
.posttag a,
.postcat a
{
    text-decoration: underline;
}
.posttag a:hover,
.postcat a:hover
{
    -webkit-transition: color ease .3s;
       -moz-transition: color ease .3s;
         -o-transition: color ease .3s;
            transition: color ease .3s;

    color: #ef5350;
}
.index-comment
{
    display: none;
}
.social-div ul
{
    margin: 0;
}
.copyright-text:before
{
    content: 'Copyright © 2015 Jason.Qiu';
}
.catabrick
{
    font-size: 1.4rem;
}
.catabrick li
{
    padding: 12px 0;
}
.catabrick a:hover
{
    -webkit-transition: color ease .3s;
       -moz-transition: color ease .3s;
         -o-transition: color ease .3s;
            transition: color ease .3s;

    color: #ef5350;
}
.cataday
{
    font-size: 1rem;
}
.about ul
{
    margin: 0;
    padding: 0;
}
.about ul li
{
    margin-bottom: 24px;

    list-style: disc inside;
}
.about ul li ul li
{
    margin: 0;
    padding-left: 24px;

    list-style: circle inside;
}
.pre,
.next
{
    line-height: 3rem;

    float: left;

    width: 50%;
}
.pre i
{
    font-size: 2rem;

    float: left;
}
.next i
{
    font-size: 2rem;

    float: right;
}
.pre a,
.next a
{
    text-decoration: underline;
}
.pre a:hover,
.next a:hover
{
    -webkit-transition: color ease .3s;
       -moz-transition: color ease .3s;
         -o-transition: color ease .3s;
            transition: color ease .3s;

    color: #f23061;
}
.next
{
    text-align: right;
}
.mobile-post-list-link
{
    position: relative;
    top: -680px;
    left: 0;

    display: none;
    float: left;

    width: 100%;
    height: 360px;

    opacity: 0;
    background-color: #333;
}
.social-media-list
{
    padding: 48px 0;
}
.social-media-list li
{
    font-size: 1rem;
    line-height: 2rem;

    display: inline;

    padding: 0 12px;
}
.post-i
{
    position: relative;
    top: 1px;
}
.post-link
{
    font-size: 2rem;
    font-weight: 300;

    display: block;

    color: #3f51b5;
}
.cata-num
{
    font-size: 1rem;

    vertical-align: super;
}
p img
{
    /*border: thin solid #f7f7f5;*/
    display: block;

    margin: 0 auto;

    border-radius: 2px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
       -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}
p img:hover{
    transition: box-shadow .3s;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p code,.post-ulol ul code,
.post-ulol ul li code
{
    font-family: Monaco,Consolas,Menlo,'Andale Mono','Courier New','Ubuntu Mono',Arial,'Microsoft YaHei','Hiragino Sans GB',sans-serif;

    margin: 0 2px;
    padding: 0 4px;

    letter-spacing: 1px;
    word-break: initial;

    color: #f23061;
    border-bottom: 0;
    border-radius: 4px;
    background: #ededed;
}
.post-ulol ul,.post-ulol ol{
    margin: 0 0 0 15px;
    padding: 10px 0;
}
.post-ulol ul li
{
    margin: 0;
    padding: 0 0 0 10px;

    list-style-type: disc;
}
.post-ulol ol li
{
    margin: 0;
    padding: 0 0 0 20px;

    list-style-type: decimal;
}
.tags-cloud
{
    margin: 5px;
    padding: 5px 10px;

    border: 1px dashed #424242;
    border-radius: 5px;
    background-color: #ededed;
}
.tags-cloud:hover
{
    -webkit-transition: background-color ease .3s;
       -moz-transition: background-color ease .3s;
         -o-transition: background-color ease .3s;
            transition: background-color ease .3s;

    background-color: #f23061;
}
.a-hover:hover
{
    -webkit-transition: color ease .3s;
       -moz-transition: color ease .3s;
         -o-transition: color ease .3s;
            transition: color ease .3s;
    text-decoration: underline;

    color: #f23061;
}
.page404
{
    width: 100%;
    height: 400px;
    padding-top: 240px;

    background-image: url(../img/404.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
}
.btn404
{
    overflow: hidden;

    padding: 10px 0;

    color: #424242;
    border: 2px solid #424242;
    border-radius: 5px;
}
.btn404:hover
{
    -webkit-transition: all ease .5s;
       -moz-transition: all ease .5s;
         -o-transition: all ease .5s;
            transition: all ease .5s;

    background-color: #424242;
}
.btn404:hover .btn404-left
{
    left: 19px;

    padding-right: 0;

    -webkit-transition: all ease 1s;
       -moz-transition: all ease 1s;
         -o-transition: all ease 1s;
            transition: all ease 1s;
}
.btn404:hover .btn404-right
{
    right: 19px;

    padding-left: 0;

    -webkit-transition: all ease 1s;
       -moz-transition: all ease 1s;
         -o-transition: all ease 1s;
            transition: all ease 1s;
}
.btn404:hover
{
    -webkit-transition: all ease .5s;
       -moz-transition: all ease .5s;
         -o-transition: all ease .5s;
            transition: all ease .5s;

    background-color: #424242;
}
.btn404:hover .btn404-left
{
    left: 19px;

    padding-right: 0;

    -webkit-transition: all ease 1s;
       -moz-transition: all ease 1s;
         -o-transition: all ease 1s;
            transition: all ease 1s;
}
.btn404:hover .btn404-right
{
    right: 19px;

    padding-left: 0;

    -webkit-transition: all ease 1s;
       -moz-transition: all ease 1s;
         -o-transition: all ease 1s;
            transition: all ease 1s;
}
.btn404-left
{
    position: relative;
    top: 0;
    left: -41px;

    padding: 12px 20px;

    color: #f9f9f9;
    border-radius: 5px 0 0 5px;
    background-color: #424242;
}
.btn404-right
{
    position: relative;
    top: 0;
    right: -41px;

    padding: 12px 20px;

    color: #f9f9f9;
    border-radius: 0 5px 5px 0;
    background-color: #424242;
}
#side-fixed-nav{
    position:fixed;
    right:10px;
    top:74px;
    opacity: .9;
}
#side-fixed-nav ul{
    padding: 0;
    margin:0;
}
#side-fixed-nav ul li{
    list-style-type:none;
    margin:0;
    padding:0;
}
#slogan{
    margin:100px 0;
}
.social-icon:hover{

}
.username{
    position: relative;
}
@media only screen and (max-device-width: 500px)
{
    #index-banner
    {
        display: none;
    }
    h4
    {
        font-size: 1.6rem;

        margin: 0;
    }
    .postinfo
    {
        font-size: 12px;

        margin: 0 0 1rem 0;
    }
    .post-view .postcat,
    .post-view .posttag,
    .post-view .postcat i,
    .post-view .postcat a,
    .post-view .posttag i,
    .post-view .posttag a
    {
        display: none;

        width: 0;
        margin: 0;
    }
    .post-header .postinfo li
    {
        display: block;

        margin: 0;
    }
    .post-link
    {
        font-size: 1.5rem;
        line-height: 1.3;
    }
    /*    .readmore
    {
        display: none;
    }*/
    .pre,
    .next
    {
        float: none;

        width: 100%;
    }
    .next
    {
        text-align: left;
    }
    .next i
    {
        font-size: 2rem;

        float: left;
    }
    .catainfo
    {
        display: none;
    }
}
@media only screen and (max-width: 500px)
{
    #index-banner
    {
        display: none;
    }
    h4
    {
        font-size: 1.6rem;

        margin: 0;
    }
    .postinfo
    {
        font-size: 12px;

        margin: 0 0 1rem 0;
    }
    .post-view .postcat,
    .post-view .posttag,
    .post-view .postcat i,
    .post-view .postcat a,
    .post-view .posttag i,
    .post-view .posttag a
    {
        display: none;

        width: 0;
        margin: 0;
    }
    .post-header .postinfo li
    {
        display: block;

        margin: 0;
    }
    .post-link
    {
        font-size: 1.5rem;
        line-height: 1.3;
    }
    /*    .readmore
    {
        display: none;
    }*/
    .pre,
    .next
    {
        float: none;

        width: 100%;
    }
    .next
    {
        text-align: left;
    }
    .next i
    {
        font-size: 2rem;

        float: left;
    }
    .catainfo
    {
        display: none;
    }
}
@media only screen and (max-width: 319px)
{
    #index-banner
    {
        background-image: none;
    }
}