/*声明 WebFont*/
/*@font-face {
  font-family: 'pinghei';
  src: url('../font/PingFang Regular.ttf');
  src:
    url('../font/PingFang Regular.eot?#font-spider') format('embedded-opentype'),
    url('../font/PingFang Regular.woff') format('woff'),
    url('../font/PingFang Regular.ttf') format('truetype'),
    url('../font/PingFang Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}*/

/* Custom Stylesheet */
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, "XinGothic-W4S",
    "Hiragino Sans GB", "Microsoft YaHei", sans-serif;

  color: #424242;
  background-color: #fff;
}
.top-logo img {
  width: auto;
  height: 40px;
}
#no-shadow {
  box-shadow: none;
}
.index-nav-top {
  font-style: bold;

  position: absolute;
  top: 0;

  box-shadow: none;
}
.nav-a {
  font-size: 1rem;
  font-weight: 400;

  /*color: #000;*/
}
.nav-a:hover {
  -webkit-transition: color ease 0.3s;
  -moz-transition: color ease 0.3s;
  -o-transition: color ease 0.3s;
  transition: color ease 0.3s;

  color: #2c7cff;
}
.readmore-align {
  text-align: left;
}
.readmore {
  text-decoration: underline;

  color: #424242;
}
.readmore:hover {
  -webkit-transition: color ease 0.3s;
  -moz-transition: color ease 0.3s;
  -o-transition: color ease 0.3s;
  transition: color ease 0.3s;

  color: #2c7cff;
}
#indexBanner {
  background-color: #000;
  background-image: url(https://myulinkblog.oss-cn-shenzhen.aliyuncs.com/18-7-29/background-image.jpg);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: 100%;
}
#indexBanner h5 {
  margin-bottom: 20px;
}
#side-banner {
  /*background-color: #FFF;*/
  /*background-image: url(http://myulinkblog.oss-cn-shenzhen.aliyuncs.com/18-7-29/1065758.jpg);*/
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
}
#side-logo {
  font-size: 16px;
  line-height: 40px;

  height: 200px;

  border-bottom: thin solid #e0e0e0;
  background-image: url(http://myulinkblog.oss-cn-shenzhen.aliyuncs.com/18-7-29/33793204.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 50%;
}
.sloganMain {
  height: 100%;
}
#slogan {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100%;
  margin: 0 auto;

  transform: translate(-50%, -50%);
  text-align: center;
}
.power-by-DIV {
  position: absolute;
  top: 90%;
  left: 50%;

  width: 90%;
  margin: 0 auto;

  transform: translate(-50%, 0%);
  text-align: center;
}
.power-by li {
  display: inline;

  margin: 0 1rem 0 0;
}
.power-by li a:hover {
  text-decoration: underline;
}
.clear {
  clear: both;
}
.postinfo {
  display: block;

  width: 100%;
  margin: -0.5rem 0 3rem 0;
}
.postinfo li {
  display: inline;

  margin: 0 0.5rem 0 0;
  padding: 0;
}
.nbsp-1:after {
  content: "";
}
.nbsp-2:after {
  content: "  ";
}
.posttag-a,
.postcat-a {
  /* border: 1px dashed #2c7cff;
    border-radius: 5px;
    background-color: #2c7cff;
    color: #000 ;*/
  text-decoration: underline;
  /*color: #333 ;*/
}
.posttag-a:hover,
.postcat-a:hover {
  /*    -webkit-transition: transform ease .5s;
       -moz-transition: transform ease .5s;
         -o-transition: transform ease .5s;
            transition: transform ease .5s;
    transform: translate(0,-5px);*/
  text-decoration: underline;

  color: #2c7cff;
}
.index-comment {
  display: none;
}
.social-div ul {
  margin: 0;
}
.copyright-text:before {
  content: "Copyright © 2018 Ja50n.Qiu";
}
.catabrick {
  font-size: 1.4rem;
}
.catabrick li {
  padding: 12px 0;
}
.catabrick a:hover {
  -webkit-transition: color ease 0.3s;
  -moz-transition: color ease 0.3s;
  -o-transition: color ease 0.3s;
  transition: color ease 0.3s;

  color: #2c7cff;
}
.cataday {
  font-size: 1rem;
}
.about ul {
  margin: 0;
  padding: 0;
}
.about ul li {
  margin-bottom: 24px;

  list-style: disc inside;
}
.about ul li ul li {
  margin: 0;
  padding-left: 24px;

  list-style: circle inside;
}
.pre {
  font-size: 16px;
  line-height: 3rem;

  float: right;

  width: 50%;

  text-align: right;
}
.pre i {
  font-size: 2rem;

  float: right;

  padding-top: 2px;
}
.next {
  font-size: 16px;
  line-height: 3rem;

  float: left;

  width: 50%;

  text-align: left;
}
.next i {
  font-size: 2rem;

  float: left;

  padding-top: 2px;
}
/*.pre a,
.next a
{
    text-decoration: underline;
}*/
.pre a:hover,
.next a:hover {
  -webkit-transition: color ease 0.3s;
  -moz-transition: color ease 0.3s;
  -o-transition: color ease 0.3s;
  transition: color ease 0.3s;

  color: #2c7cff;
}
.mobile-post-list-link {
  position: relative;
  top: -680px;
  left: 0;

  display: none;
  float: left;

  width: 100%;
  height: 360px;

  opacity: 0;
  background-color: #333;
}
.social-media-list {
  padding: 48px 0;
}
.social-media-list li {
  font-size: 1rem;
  line-height: 2rem;

  display: inline;

  padding: 0 12px;
}
.post-i {
  position: relative;
  top: 1px;
}
.post-link {
  font-size: 2rem;
  font-weight: 300;

  display: block;

  color: #2c7cff;
}
p img {
  /*border: thin solid #f7f7f5;*/
  display: block;

  margin: 0 auto;

  border-radius: 2px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
p img:hover {
  transition: box-shadow 0.3s;

  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p code,
.post-ulol ul code,
.post-ulol ul li code {
  font-family: "Source Code Pro", Consolas;

  margin: 0 2px;
  padding: 0 4px;

  letter-spacing: 1px;
  word-break: initial;

  color: #f44336;
  border-bottom: 0;
  border-radius: 4px;
  background: #ededed;
}
.post-ulol ul,
.post-ulol ol {
  margin: 0 0 0 15px;
  padding: 10px 0;
}
.post-ulol ul li {
  margin: 0;
  padding: 0 0 0 10px;

  list-style-type: disc;
}
.post-ulol ol li {
  margin: 0;
  padding: 0 0 0 20px;

  list-style-type: decimal;
}
.tags-cloud {
  font-size: 0.9em;

  margin: 5px;
  padding: 5px 10px;

  border: 1px dashed #2c7cff;
  border-radius: 5px;
  background-color: #2c7cff;
}
.tags-cloud:hover {
  transform: scale(1.1);

  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.cata-num {
  font-size: 0.8rem;

  vertical-align: super;
}
.a-hover {
  -webkit-transition: transform ease 0.5s;
  -moz-transition: transform ease 0.5s;
  -o-transition: transform ease 0.5s;
  transition: transform ease 0.5s;
}
.a-hover:hover {
  transform: translate(0, -5px);
  text-decoration: underline;

  /*color: #2c7cff;*/
}
.page404 {
  width: 100%;
  height: 600px;
  padding-top: 240px;

  background-image: url(http://myulinkblog.oss-cn-shenzhen.aliyuncs.com/18-7-29/9208056.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.btn404 {
  overflow: hidden;

  padding: 10px 0;

  color: #424242;
  border: 2px solid #424242;
  border-radius: 5px;
}
.btn404:hover {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;

  background-color: #424242;
}
.btn404:hover .btn404-left {
  left: 20px;

  padding-right: 0;

  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.btn404:hover .btn404-right {
  right: 20px;

  padding-left: 0;

  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.btn404-left {
  position: relative;
  top: 0;
  left: -41px;

  padding: 12px 20px 12px 20px;

  color: #f9f9f9;
  border-radius: 5px 0 0 5px;
  background-color: #424242;
}
.btn404-right {
  position: relative;
  top: 0;
  right: -41px;

  padding: 12px 20px 12px 20px;

  color: #f9f9f9;
  border-radius: 0 5px 5px 0;
  background-color: #424242;
}
#side-fixed-nav {
  position: fixed;
  top: 74px;
  right: 10px;

  opacity: 0.9;
}
#side-fixed-nav ul {
  margin: 0;
  padding: 0;
}
#side-fixed-nav ul li {
  margin: 0;
  padding: 0;

  list-style-type: none;
}
.username {
  position: relative;
}
#vcomments input{
  width:30%;
}
@media only screen and (max-device-width: 500px) {
  #indexBanner {
    display: none;
  }
  h4 {
    font-size: 1.6rem;

    margin: 0;
  }
  .postinfo {
    font-size: 12px;

    margin: 0 0 1rem 0;
  }
  .post-view .postcat,
  .post-view .posttag,
  .post-view .postcat i,
  .post-view .postcat a,
  .post-view .posttag i,
  .post-view .posttag a {
    display: none;

    width: 0;
    margin: 0;
  }
  .post-header .postinfo li {
    display: block;

    margin: 0;
  }
  .post-link {
    font-size: 1.5rem;
    line-height: 1.3;
  }
  /*    .readmore
    {
        display: none;
    }*/
  .pre,
  .next {
    float: none;

    width: 100%;
  }
  .next {
    text-align: left;
  }
  .next i {
    font-size: 2rem;

    float: left;
  }
  .catainfo {
    display: none;
  }
  #vcomments input{
    width:100%;
  }
}
@media only screen and (max-width: 500px) {
  #indexBanner {
    display: none;
  }
  h4 {
    font-size: 1.6rem;

    margin: 0;
  }
  .postinfo {
    font-size: 12px;

    margin: 0 0 1rem 0;
  }
  .post-view .postcat,
  .post-view .posttag,
  .post-view .postcat i,
  .post-view .postcat a,
  .post-view .posttag i,
  .post-view .posttag a {
    display: none;

    width: 0;
    margin: 0;
  }
  .post-header .postinfo li {
    display: block;

    margin: 0;
  }
  .post-link {
    font-size: 1.5rem;
    line-height: 1.3;
  }
  /*    .readmore
    {
        display: none;
    }*/
  .pre,
  .next {
    float: none;

    width: 100%;
  }
  .next {
    text-align: left;
  }
  .next i {
    font-size: 2rem;

    float: left;
  }
  .catainfo {
    display: none;
  }
  #vcomments input{
    width:100%;
  }
}
@media only screen and (max-width: 319px) {
  #indexBanner {
    background-image: none;
  }
}

