<header>
  <nav class="indigo fixed-top" role="navigation">
    <div class="nav-wrapper container">
      <a href="{{ site.baseurl }}/" class="brand-logo waves-effect" title="返回主页" >ULINK</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="{{ site.baseurl }}/" class="waves-effect head-right">首页</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/categories/" class="waves-effect head-right">分类</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/tags/" class="waves-effect head-right">标签</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/about/" class="waves-effect head-right">关于</a>
        </li>
        <li class="bold">
          <a href="{{ site.betaurl }}/" class="waves-effect waves-blue">beta</a>
        </li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li class="logo" id="side-banner">
          <a href="{{ site.baseurl }}/" class="waves-effect waves-blue" id="side-logo"></a>
        </li>
        <li class="bold">
          <a href="{{ site.baseurl }}/" class="waves-effect waves-blue">首页</a>
        </li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li class="bold">
              <a class="collapsible-header  waves-effect waves-blue">分类</a>
              <div class="collapsible-body">
                <ul>
                  {% for category in site.categories %}
                  <li>
                    <a  class="waves-effect waves-blue"
 class="waves-effect waves-blue" href="{{ site.baseurl }}/categories/index.html#{{ category | first }}-ref">{{ category | first }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </li>
            <li class="bold">
              <a class="collapsible-header  waves-effect waves-blue">标签</a>
              <div class="collapsible-body">
                <ul>
                  {% for tags in site.tags %}
                  <li>
                    <a  class="waves-effect waves-blue"
 class="waves-effect waves-blue" href="{{ site.baseurl }}/tags/index.html#{{ tags | first }}-ref">{{ tags | first }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <li class="bold">
          <a href="{{ site.baseurl }}/about/" class="waves-effect waves-blue">关于</a>
        </li>
        <li class="bold">
          <a href="{{ site.betaurl }}/" class="waves-effect waves-blue">beta</a>
        </li>
      </ul>
      <a href="" data-activates="nav-mobile" class="button-collapse waves-effect waves-light"> <i class="mdi-navigation-menu"></i>
      </a>
    </div>
  </nav>
  <nav role="navigation" class="white">
    <div class="footer-copyright center">
      <div class="container copyright-text grey-text"></div>
    </div>
  </nav>
</header>