<nav class="transparent index-nav-top hide-on-med-and-down" role="navigation">
    <div class="nav-wrapper container">
        <a href="{{ site.baseurl }}/" class="brand-logo waves-red top-logo" title="返回主页"><img src="http://myulinkblog.oss-cn-shenzhen.aliyuncs.com/18-7-29/35835029.jpg"></a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="{{ site.baseurl }}/" class="nav-a white-text">首页</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/books/" class="nav-a white-text">阅读</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/movie/" class="nav-a white-text">观影</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/categories/" class="nav-a white-text">分类</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/tags/" class="nav-a white-text">标签</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/about/" class="nav-a white-text">关于</a>
            </li>
        </ul>
    </div>
</nav>
<nav class="white nav-fixed z-depth-1 hide-on-med-and-up show-on-med-and-down" role="navigation">
    <div class="nav-wrapper container">
        <a href="{{ site.baseurl }}/" class="brand-logo center waves-red top-logo" title="返回主页"><img src="http://myulinkblog.oss-cn-shenzhen.aliyuncs.com/18-7-29/33793204.jpg"></a>
        <ul id="nav-mobile" class="side-nav">
            <li class="logo" id="side-banner">
                <a href="{{ site.baseurl }}/" class="waves-effect waves-light" id="side-logo"></a>
            </li>
            <li class="bold">
                <a href="{{ site.baseurl }}/" class="waves-effect waves-light nav-a">首页</a>
            </li>
             <li>
                <a href="{{ site.baseurl }}/books/" class="waves-effect waves-light nav-a">阅读</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/movie/" class="waves-effect waves-light nav-a">观影</a>
            </li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li class="bold">
                        <a class="collapsible-header  waves-effect waves-light nav-a">分类</a>
                        <div class="collapsible-body">
                            <ul>
                                {% for category in site.categories %}
                                <li>
                                    <a class="waves-effect waves-light nav-a" href="{{ site.baseurl }}/categories/index.html#{{ category | first }}-ref">{{
                                        category | first }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    <li class="bold">
                        <a class="collapsible-header  waves-effect waves-light nav-a">标签</a>
                        <div class="collapsible-body">
                            <ul>
                                {% for tags in site.tags %}
                                <li>
                                    <a class="waves-effect waves-light nav-a" href="{{ site.baseurl }}/tags/index.html#{{ tags | first }}-ref">{{
                                        tags | first }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="bold">
                <a href="{{ site.baseurl }}/help/" class="waves-effect waves-light nav-a">帮助</a>
            </li>
            <li class="bold">
                <a href="{{ site.baseurl }}/about/" class="waves-effect waves-light nav-a">关于</a>
            </li>
        </ul>
        <a href="" data-activates="nav-mobile" class="button-collapse waves-effect waves-light nav-a"> <i class="mdi-navigation-menu"></i>
        </a>
    </div>
</nav>
<section class="section no-pad-bot no-padding" id="indexBanner">
        <div class="container sloganMain">
        <div id="slogan">
            <div class="header center white-text "><span class="slogan-span">Design & Code</span></div>
            <div class="header center white-text "><span class="slogan-span">Internet</span></div>
            <div class="header center white-text "><span class="slogan-span">Machine Vision</span></div>
        </div>
        <div class="power-by-DIV">
            <ul class="row center grey-text power-by">
                <li>Power by :</li>
                <li>
                    <a class="white-text" target="_blank" href="http://jekyllcn.com/">Jekyll</a>
                </li>
                <li>
                    <a class="white-text" target="_blank" href="https://pages.github.com/">Github-Pages</a>
                </li>
                <li>
                    <a class="white-text" target="_blank" href="http://www.sublimetext.com/">Sublime Text</a> & <a
                        class="white-text" target="_blank" href="https://code.visualstudio.com/?wt.mc_id=vscom_downloads">Visual
                        Studio Code</a>
                </li>
                <li>
                    <a class="white-text" target="_blank" href="http://materializecss.com/">MaterializeCSS</a>
                </li>
                <li>
                    <a class="white-text" target="_blank" href="https://valine.js.org">Valine</a>
                </li>
                <li>
                    <a class="white-text" target="_blank" href="http://busuanzi.ibruce.info/">不蒜子</a>
                </li>
            </ul>
            <div class="power-by-DIV">
                <ul class="row center grey-text power-by">
                    <li>
                        <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
                        总访问量<span id="busuanzi_value_site_pv"></span>次，
                        总访客数<span id="busuanzi_value_site_uv"></span>人
                    </li>
                </ul>
            </div>
        </div>
</section>
<script>
    var winWidth = 0;
    var winHeight = 0;

    function findDimensions() //函数：获取尺寸
    {
        //获取窗口宽度
        if (window.innerWidth)
            winWidth = window.innerWidth;
        else if ((document.body) && (document.body.clientWidth))
            winWidth = document.body.clientWidth;
        //获取窗口高度
        if (window.innerHeight)
            winHeight = window.innerHeight;
        else if ((document.body) && (document.body.clientHeight))
            winHeight = document.body.clientHeight;
        //通过深入Document内部对body进行检测，获取窗口大小
        if (document.documentElement && document.documentElement.clientHeight) {
            winHeight = document.documentElement.clientHeight;
        }
        if (document.documentElement && document.documentElement.clientWidth) {
            winWidth = document.documentElement.clientWidth;
        }
        var obj = document.getElementById('indexBanner');
        obj.setAttribute("id", "indexBanner");
        if ((winWidth / winHeight) > (4545 / 3904))
            obj.style.height = winHeight + "px";
        else
            obj.style.height = winHeight + "px";
        // obj.style.backgroundColor = "#000";
        // obj.style.height = winWidth / (4545 / 3904) + "px";
    }

    findDimensions();
    //调用函数，获取数值
    window.onresize = findDimensions;
</script>