 <nav class="transparent index-nav-top hide-on-med-and-down" role="navigation">
        <div class="nav-wrapper container">
            <a href="{{ site.baseurl }}/" class="brand-logo waves-red top-logo" title="返回主页"><img src="http://myulinkblog.oss-cn-shenzhen.aliyuncs.com/18-7-29/35835029.jpg"></a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="{{ site.baseurl }}/" class="nav-a white-text">首页</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/categories/" class="nav-a white-text">分类</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/tags/" class="nav-a white-text">标签</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/help/" class="nav-a white-text">帮助</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/about/" class="nav-a white-text">关于</a>
                </li>
            </ul>
            </div>
    </nav>
    <nav class="white nav-fixed z-depth-1 hide-on-med-and-up show-on-med-and-down" role="navigation">
        <div class="nav-wrapper container">
            <a href="{{ site.baseurl }}/" class="brand-logo center waves-red top-logo" title="返回主页"><img  src="http://myulinkblog.oss-cn-shenzhen.aliyuncs.com/18-7-29/33793204.jpg"></a>
            <ul id="nav-mobile" class="side-nav">
                <li class="logo" id="side-banner">
                    <a href="{{ site.baseurl }}/" class="waves-effect waves-light" id="side-logo"></a>
                </li>
                <li class="bold">
                    <a href="{{ site.baseurl }}/" class="waves-effect waves-light nav-a">首页</a>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li class="bold">
                            <a class="collapsible-header  waves-effect waves-light nav-a">分类</a>
                            <div class="collapsible-body">
                                <ul>
                                    {% for category in site.categories %}
                                    <li>
                                        <a class="waves-effect waves-light nav-a" href="{{ site.baseurl }}/categories/index.html#{{ category | first }}-ref">{{ category | first }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        <li class="bold">
                            <a class="collapsible-header  waves-effect waves-light nav-a">标签</a>
                            <div class="collapsible-body">
                                <ul>
                                    {% for tags in site.tags %}
                                    <li>
                                        <a class="waves-effect waves-light nav-a" href="{{ site.baseurl }}/tags/index.html#{{ tags | first }}-ref">{{ tags | first }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="bold">
                    <a href="{{ site.baseurl }}/help/" class="waves-effect waves-light nav-a">帮助</a>
                </li>
                <li class="bold">
                    <a href="{{ site.baseurl }}/about/" class="waves-effect waves-light nav-a">关于</a>
                </li>
            </ul>
            <a href="" data-activates="nav-mobile" class="button-collapse waves-effect waves-light nav-a"> <i class="mdi-navigation-menu"></i>
      </a>
        </div>
    </nav>
    
  <section class="section no-pad-bot" id="index-banner">
    <div class="section no-pad-bot" id="index-banner-opacity"></div>
    <div class="container">
      <div id="slogan">
        <h1 class="header center white-text text-accent-3 thin">Design & Code</h1>
        <h1 class="header center white-text text-accent-3 thin">Internet</h1>
        <h1 class="header center white-text text-accent-3 thin">Machine Vision</h1>
      </div>
      <div class="row center margin-top">

        <br>
        <ul class="power-by grey-text">
          <li>Power by :</li>
          <li>
            <a class="white-text" target="_blank" href="http://jekyllcn.com/">Jekyll</a>
          </li>
          <li>
            <a class="white-text" target="_blank" href="https://pages.github.com/">Github-Pages</a>
          </li>
          <li>
            <a class="white-text" target="_blank" href="http://www.sublimetext.com/">Sublime Text</a>
          </li>
          <li>
            <a class="white-text" target="_blank" href="http://materializecss.com/">MaterializeCSS</a>
          </li>
         <li>
            <a class="white-text" target="_blank" href="https://livere.com/">LiveRe</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="divider"></div>
  </section>