<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    {% include header.html %}
    <div class="container">
        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <div class="divider"></div>
        </header>

        <div class="post-content">
            {{ content }}
        </div>
    </div>

    <!-- 评论框 start -->
    <div class="container">
        <div class="section">
            {% include valineComments.html %}
        </div>
    </div>
    <!-- 评论框 end -->

    {% include footer.html %}

    <script src="{{"/js/douban_books.js" | prepend:site.baseurl }}"></script>
    <link href="{{"/css/douban.css" | prepend:site.baseurl }}" type="text/css" rel="stylesheet" />

</body>

</html>