<!DOCTYPE html>
<html>

{% include head.html %}

<body>
        {% include nav.html %}
        {% include header.html %}
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">

				{{ content }}

                <hr>
        </div>
        <div class="post-content-reading col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">
            <h4 class="db-status-title"><i class="mdi-action-book yellow-text"> </i>在读的书</h4>
        </div>
        <div class="post-content-wish col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">
            <h4 class="db-status-title"><i class="mdi-action-book blue-text"> </i>想读的书</h4>
        </div>
         <div class="post-content-read col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">
            <h4 class="db-status-title"><i class="mdi-action-book green-text"> </i>读过的书</h4>
        </div>
    </div>

    <!-- 评论框 start -->
    <div class="container">
        <div class="section">
            {% include valineComments.html %}
        </div>
    </div>
    <!-- 评论框 end -->

    {% include footer.html %}

    <script src="{{"/js/douban_books_more100.js" | prepend:site.baseurl }}"></script>
    <link href="{{"/css/douban.css" | prepend:site.baseurl }}" type="text/css" rel="stylesheet" />

</body>

</html>