<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include header.html %}
    <div class="container">
        <div class="section">{{ content }}</div>
    </div>

    <!-- 评论框 start -->
    <div class="container">
        <div class="section">
            {% if page.comments %}
            {% if site.comments == "valine" %}
            {% include valineComments.html %}
            {% endif %}
            {% if site.comments == "livere" %}
            {% include livereComments.html %}
            {% endif %}
            {% if site.comments == "gitment" %}
            {% include gitmentComments.html %}
            {% endif %}
            {% endif %}
        </div>
    </div>
    <!-- 评论框 end -->

    {% include footer.html %}

</body>

</html>