<!DOCTYPE html>
<html>
  {% include head.html %}
<body>
  {% include header.html %}
  <div class="container">
    <div class="section">{{ content }}</div>
  </div>

  <div class="container">
    <div class="section">
      <!-- {% if site.uyan_ID and page.comments %} -->
      <!-- 评论框 start -->
      <!-- <div class="ds-thread section" data-thread-key="{{ page.postid }}" data-title="{{ page.title }}" data-url="{{ post.url | prepend: site.baseurl }}"></div> -->
      <!-- 评论 end -->
      <!-- {% endif %}</div> -->
  </div>
  {% include footer.html %}

  {% if page.comments %}

  {% endif %}
</body>
</html>