<!DOCTYPE html>
<html>

{% include head.html %}

<body ontouchstart="">
    {% include nav.html %}

    {% include header-page.html %}
    <div class="container">
            <div class="row">
        <div class="post-content col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">
            {{ content }}
        </div>

        <!-- valine评论框 start -->
        {% if site.valine_use %}
            {% include valineComments.html %}
        {% endif %}
         <!-- valine评论框 end -->

        </div>
    </div>

    {% include footer.html %}

    <script src="{{"/js/douban_movies.js" | prepend:site.baseurl }}"></script>
    <link href="{{"/css/douban.css" | prepend:site.baseurl }}" type="text/css" rel="stylesheet" />

    <!-- 强制跳转到https的脚本 -->
    <script type="text/javascript">
        var url = window.location.href;
        if (url.indexOf("https") < 0) {
            url = url.replace("http:", "https:");
            window.location.replace(url);
        }
    </script>
</body>

</html>