<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    {% include header.html %}
    <div class="container">
        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <div class="divider"></div>
        </header>

        <div class="post-content">
            {{ content }}
        </div>
    </div>

    <!-- 评论框 start -->
    <div class="container">
        <div class="section">
            {% include valineComments.html %}
        </div>
    </div>
    <!-- 评论框 end -->

    {% include footer.html %}

    <script src="{{"/js/douban_movie.js" | prepend:site.baseurl }}"></script>
    <link href="{{"/css/douban.css" | prepend:site.baseurl }}" type="text/css" rel="stylesheet" />

    <!-- 强制跳转到https的脚本 -->
    <script type="text/javascript">
        var url = window.location.href;
        if (url.indexOf("https") < 0) {
            url = url.replace("http:", "https:");
            window.location.replace(url);
        }
    </script>
</body>

</html>

<!-- 固定导航按钮 -->
<!-- <div class="fixed-action-btn" style="bottom: 24px; right: 24px;">
    <a class="btn-floating btn-large waves-effect waves-light grey darken-4" href="javascript:pageScroll();" title="返回页首"><i
            class="mdi-hardware-keyboard-arrow-up"></i></a>
</div> -->